.login {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  /* background-color: #c8d4e6; */
  background-color: rgb(255, 255, 255);
  width: 100%;
}
.lContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  padding: 2rem;
  border-radius: 10px;
  background-color: rgba(0, 53, 128);
  color: white;
}
.lInput {
  height: 30px;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.lButton {
  background-color: #0071c2;
  border: none;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}
.lButton:disabled {
  background-color: #0071c28c;
  cursor: not-allowed;
}

.lButton:hover {
  filter: brightness(90%);
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

.lmessage {
  color: red;
  font-weight: bold;
  font-size: 16px;
  animation: shake 0.2s ease-in-out 0s 2;
}

